@using ShareTravel.Models;
@{
    ViewBag.Title = "ListPlace";
    CWDWeatherDescription[] wdArr = ViewBag.WeatherDesc;
    CWDUVI[] uviArr = ViewBag.UVI;
    
}

<h2>Plan - 規劃行程</h2>

<style type="text/css">
body {
  background: 	#ECF5FF;
  margin: 2rem;
}

.blog-card {
  transition: height 0.3s ease;
  -webkit-transition: height 0.3s ease;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 3px 7px -3px rgba(0, 0, 0, 0.3);
  margin: 0 auto 1.6%;
  overflow: hidden;
  position: relative;
  font-size: 14px;
  line-height: 1.45em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.blog-card:hover .details {
  left: 0;
}
.blog-card:hover.alt .details {
  right: 0;
}
.blog-card.alt .details {
  right: -100%;
  left: inherit;
}
.blog-card .photo {
  height: 200px;
  position: relative;
}


.blog-card .details {
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  background: rgba(0, 0, 0, 0.6);
  box-sizing: border-box;
  color: #fff;
  font-family: "Open Sans";
  list-style: none;
  margin: 0;
  padding: 10px 15px;
  height: 200px;
  /*POSITION*/
  position: absolute;
  top: 0;
  left: -100%;
}
.blog-card .details > li {
  padding: 3px 0;
}
.blog-card .details li:before, .blog-card .details .tags ul:before {
  font-family: FontAwesome;
  margin-right: 10px;
  vertical-align: middle;
}
.blog-card .details .author:before {
  content: "\f007";
}
.blog-card .details .date:before {
  content: "\f133";
}
.blog-card .details .tags ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.blog-card .details .tags ul:before {
  content: "\f02b";
}
.blog-card .details .tags li {
  display: inline-block;
  margin-right: 3px;
}
.blog-card .details a {
  color: inherit;
  border-bottom: 1px dotted;
}
.blog-card .details a:hover {
  color: #75D13B;
}
.blog-card .description {
  padding: 10px;
  box-sizing: border-box;
  position: relative;
}
.blog-card .description h1 {
  font-family: "Microsoft JhengHei","Roboto";
  line-height: 1em;
  margin: 0 0 10px 0;
  white-space: nowrap;
}
.blog-card .description h2 {
  color: #9b9b9b;
  font-family: "Open Sans";
  line-height: 1.2em;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 400;
  margin: 1.2% 0;
  margin-top: 20px;
}
.blog-card .description p {
  position: relative;
  margin: 0;
  padding-top: 20px;
  white-space:nowrap;
}
.blog-card .description p:after {
  content: "";
  background: #3F51B5;
  height: 1px;
  width: 400px;
  /*POSITION*/
  position: absolute;
  top: 6px;
  left: 0;
}
.blog-card .description a {
  color: #3F51B5;
  margin-bottom: 10px;
  float: right;
  padding: 3px;
  
}
/*
.blog-card .description a:after {
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  content: "\f061";
  font-family: FontAwesome;
  margin-left: -10px;
  opacity: 0;
  vertical-align: middle;
}
.blog-card .description a:hover:after {
  margin-left: 5px;
  opacity: 1;
}

    */
@@media screen and (min-width: 600px) {
  .blog-card {
    height: 200px;
    max-width: 600px;
  }
  .blog-card:hover .photo {
    transform: rotate(5deg) scale(1.3);
  }
  .blog-card:hover.alt .photo {
    transform: rotate(-5deg) scale(1.3);
  }
  .blog-card.alt .details {
    padding-left: 30px;
  }
  .blog-card.alt .description {
    float: right;
  }
  .blog-card.alt .description:before {
    transform: skewX(5deg);
    right: -15px;
    left: inherit;
  }
  .blog-card.alt .photo {
    float: right;
  }
  .blog-card .photo {
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    float: left;
    height: 100%;
    width: 40%;
  }
  .blog-card .details {
    width: 40%;
  }
  .blog-card .description {
    float: left;
    width: 60%;
    z-index: 0;
  }
  .blog-card .description:before {
    transform: skewX(-5deg);
    content: "";
    background: #fff;
    width: 100%;
    height:200px;
    z-index: -1;
    /*POSITION*/
    position: absolute;
    left: -15px;
    top: 0;
    bottom: 0;
  }
}


        #map {
            height: 500px;
            width: 70%;
        }   
        .thumb {
            display: inline-block;
            width: 200px;
            height: 200px;
            margin: 5px;
            border: 3px solid #c99;
            background-position: center center;
            background-size: cover;
        }

</style>



<link href="~/Content/weather-icons.min.css" rel="stylesheet" />
<style type="text/css">
    .sidenav {
  width: 100%;
    height: 0; 
    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 0;
    background-color: #db4312;
    overflow-x: hidden;
    transition: 0.5s;
    /* padding-top: 60px; */
    overflow: hidden;
    }

        .sidenav a {
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 22px;
            color: white;
            display: block;
            transition: 0.3s;
        }

        .sidenav div {
            color: white;
            font-size: 18px;
        }

        .sidenav a:hover, .offcanvas a:focus {
            color: #f1f1f1;
        }

        .sidenav .closebtn {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            /*margin-left: 50px;*/
            color:white;
        }

    .spanStyle {
       font-size: 30px;
        padding-right: 10px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        cursor: pointer;
        height: 8%;
        background: #db4312;
        color: white;
        transition: 0.5s;
        bottom: 0;
        position: fixed;
        left:0;
    }

    @@media screen and (max-height: 450px) {
        .sidenav {
            padding-top: 15px;
        }

            .sidenav a {
                font-size: 18px;
            }
    }
</style>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC8evo6K_89ZLTKCq4sJVG-RCQfjIqLa2c&libraries=places"></script>
<div class="col-md-12">
    <div class="form-group">
        <select class="form-control" onchange="search(0,0)" id="placeType">
            <option selected value="restaurant">餐廳</option>
            <option value="lodging">住宿</option>
            <option value="book_store">書店</option>
            <option value="park">公園</option>
            <option value="store">商店</option>
            <option value="cafe">咖啡店</option>
            <option value="museum">博物館</option>
            <option value="school">學校</option>
            <option value="shopping_mall">購物</option>
            <option value="university">大學</option>
            <option value="city_hall">城市中心</option>
            <option value="church">教堂</option>
            <option value="amusement_park">遊樂場</option>
            <option value="aquarium">水族館</option>
            <option value="hospital">醫院</option>
            <option value="place_of_worship">廟宇</option>
            <option value="point_of_interest">其他景點</option>
        </select>

        
        <input type="radio" name="location" onclick="updateLocation('AUTO')" checked/>自動定位
        <input type="radio" name="location" onclick="updateLocation('INPUT')" />手動定位
        <input type="radio" name="location" onclick="updateLocation('TEXTSEARCH')" />文字搜尋
        <input class="form-control" type="text" id="address" size="30" />
        <input type="submit" value="查詢" id="query" onclick="geocodeAddress(geocoder);" />
        <input class="form-control" type="text" id="keyword" size="30" />
        <input type="submit" value="搜尋" id="search" onclick="textSearch();" />
    </div>

</div>


<div id="geocode"></div>
<span class="spanStyle" onclick="openNav()" id="spanBtn"> 天氣</span>
<div id="list"></div>

<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

</div>


<script type="text/javascript">
    function openNav() {
        document.getElementById("mySidenav").style.height = "41%";
        document.getElementById("spanBtn").style.height = "47%";   
    }

    function closeNav() {
        document.getElementById("mySidenav").style.height = "0";
        document.getElementById("spanBtn").style.height = "8%";   
    }

    function textSearch(){
        var kword = $('#keyword').val();
        $("#list").empty();



        var cLocation = new google.maps.LatLng(lat, lng);
        var request ={
            location: cLocation,
            radius: '5000',
            query: '' + kword
        };

        //console.log(kword);
        service = new google.maps.places.PlacesService(document.createElement('div'));
        service.textSearch(request, callback);
    }


    function updateLocation(mode){
        console.log(mode + ','+ lat + ',' + lng);
        if(mode == 'AUTO'){
            
            if (navigator.geolocation) { //
                navigator.geolocation.getCurrentPosition(success,function(failure) {
                    if(failure.message.indexOf("Only secure origins are allowed") == 0) {
                        // Secure Origin issue.
                        alert("secure issue");
                    }
                }
            );
                

            } else {
                alert("Geo Location is not supported on your current browser");
            }
            $('#address').hide();
            $('#query').hide();
            $('#keyword').hide();
            $('#search').hide();
            $('#placeType').show();

        }
        else if(mode == 'INPUT'){
            $('#placeType').show();
            $('#address').show();
            $('#query').show();
            $('#keyword').hide();
            $('#search').hide();
        }
        else if(mode == 'TEXTSEARCH'){
            $('#address').hide();
            $('#query').hide();
            $('#placeType').hide();
            $('#keyword').show();
            $('#search').show();
        }
    }



        var geocoder = new google.maps.Geocoder();

        function geocodeAddress(geocoder) {
            var address = document.getElementById('address').value;
            geocoder.geocode({ 'address': address }, function (results, status) {
                if (status === 'OK') {
                    //console.log(results[0].geometry.location.lat());
                    //console.log(results[0].geometry.location.lng());
                    lat = results[0].geometry.location.lat();
                    lng = results[0].geometry.location.lng();
                    console.log(results);
                    search(0,0);

                } else {
                    alert('Geocode was not successful for the following reason: ' + status);
                }
            });
        }

        var lat,lng;
        function success(position) {
            //console.log('HAHA' + ','+ lat + ',' + lng);


            lat = position.coords.latitude;
            lng = position.coords.longitude;

            @{
                if (ViewBag.Lat != null && ViewBag.Lng != null) {
                    <text>
            lat = @ViewBag.Lat;
            lng = @ViewBag.Lng;
            </text>
                }
            }

            search(lat, lng, 'restaurant');
        }

        function search(lat1, lng1) {

            var pt = $("#placeType").val();
            $("#list").empty();

            console.log(pt)

            if (lat1 == 0 || lng1 == 0) {
                lat1 = lat;
                lng1 = lng;
            }

            queryWeather(lat1,lng1);
            
            var cLocation = new google.maps.LatLng(lat1, lng1);
            var request = {
                location: cLocation,
                radius: '3000',
                type: pt
            };

            service = new google.maps.places.PlacesService(document.createElement('div'));
            service.nearbySearch(request, callback);
        }
        var place;
        var imgUrl;
        function callback(results, status) {
            var $elements = [];

            if (status == google.maps.places.PlacesServiceStatus.OK) {
                for (var i = 0; i < results.length ; i++) {
                    place = results[i];
                    //console.log(place);
                    var addr = '';
                    var ptype = $('#placeType').val();

                    if( place.vicinity == undefined){
                        console.log(results[i]);
                        addr = place.formatted_address;
                        ptype= place.types[0];
                    }
                    else
                        addr = place.vicinity;

                    
                    if (place.photos == undefined) {
                        imgUrl = place.icon;

                        var oldImgUrl = imgUrl;
                        var distance = getDistanceFromLatLonInKm(parseFloat(lat), parseFloat(lng), parseFloat(place.geometry.location.lat()), parseFloat(place.geometry.location.lng()));
                        distance = Math.round(distance * 100) / 100;
                        imgUrl = 'background: url(\'' + imgUrl + '\') center no-repeat; height:200px; background-size: cover; ';

                        var addLink = '<a href="/Travel/Add?lat=' + place.geometry.location.lat() + '&lng=' + place.geometry.location.lng() + '&place_id=' + place.place_id + '&name=' + place.name + '&image=' + oldImgUrl + '&address=' + addr + '&distance=' + distance + '&rating=' + place.rating + '&ptype=' + ptype + '">Add</a>';

                        $elements.push($('<div class="blog-card"><div class="photo"><div style="' + imgUrl + '"></div></div><div class="description"><h1>' + place.name + '</h1><h2><i class="fa fa-star fa-lg" style="color:#ff8000" aria-hidden="true">' + place.rating + '</i></h2><p class="form-inline summary"><i class="fa fa-location-arrow fa-lg" aria-hidden="true"></i>' + addr + '</p><br><i class="fa fa-street-view fa-lg" aria-hidden="true">' + distance + '公里</i>' + addLink+'<a href="/Travel/Pano?lat=' + place.geometry.location.lat() + '&lng=' + place.geometry.location.lng() + '&place_id=' + place.place_id + '&name=' + place.name + '&image=' + oldImgUrl + '&address=' + addr + '&distance=' + distance + '&rating=' + place.rating + '&ptype=' + ptype + '">Detail</a></div></div>'));

                    } else {
                        imgUrl = place.photos[0].getUrl({ 'maxWidth': 600, 'maxHeight': 600 });

                        var oldImgUrl = imgUrl;
                        var distance = getDistanceFromLatLonInKm(parseFloat(lat), parseFloat(lng), parseFloat(place.geometry.location.lat()), parseFloat(place.geometry.location.lng()));
                        distance = Math.round(distance*100)/100;

                        imgUrl = 'background: url(\'' + imgUrl + '\') center no-repeat; height:200px; background-size: cover; ';

                        var addLink = '<a href="/Travel/Add?lat=' + place.geometry.location.lat() + '&lng=' + place.geometry.location.lng() + '&place_id=' + place.place_id + '&name=' + place.name + '&image=' + oldImgUrl + '&address=' + addr + '&distance=' + distance + '&rating=' + place.rating + '&ptype=' + ptype + '">Add</a>';
                        $elements.push($('<div class="blog-card"><div class="photo"><div style="' + imgUrl + '"></div></div><div class="description"><h1>' + place.name + '</h1><h2><i class="fa fa-star fa-lg" style="color:#ff8000" aria-hidden="true">' + place.rating + '</i></h2><p class="form-inline summary"><i class="fa fa-location-arrow fa-lg" aria-hidden="true"></i>' + addr + '</p><br><i class="fa fa-street-view fa-lg" aria-hidden="true">' + distance + '公里</i>' + addLink+'<a href="/Travel/Pano?lat=' + place.geometry.location.lat() + '&lng=' + place.geometry.location.lng() + '&place_id=' + place.place_id + '&name=' + place.name + '&image=' + oldImgUrl + '&address=' + addr + '&distance=' + distance + '&rating=' + place.rating + '&ptype=' + ptype + '">Detail</a></div></div>'));

                    }

                }
                $("#list").append($elements);


            }
            else {
                alert("Place service response..." + status);
            }

        }

        function getDistanceFromLatLonInKm(lat1, lon1, lat2, lon2) {
            var R = 6371; // Radius of the earth in km
            var dLat = deg2rad(lat2 - lat1);  // deg2rad below
            var dLon = deg2rad(lon2 - lon1);
            var a =
              Math.sin(dLat / 2) * Math.sin(dLat / 2) +
              Math.cos(deg2rad(lat1)) * Math.cos(deg2rad(lat2)) *
              Math.sin(dLon / 2) * Math.sin(dLon / 2)
            ;
            var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));
            var d = R * c; // Distance in km
            return d;
        }

        function deg2rad(deg) {
            return deg * (Math.PI / 180)
        }



        function getIcon(w) {
            if (w == "多雲午後短暫雷陣雨") {
                return '<i class="wi wi-day-rain"></i>';
            }
            else if (w == "多雲") {
                return '<i class="wi wi-day-cloudy"></i>';
            }
            else if (w == "多雲時陰") {
                return '<i class="wi wi-day-cloudy-high"></i>';
            }
            else if (w == "多雲時晴" || w == "時晴多雲") {
                return '<i class="wi wi-day-sunny-overcast"></i>';
            }
            else if (w == "晴午後短暫雷陣雨") {
                return '<i class="wi wi-day-thunderstorm"></i>';
            }
            else {
                return '<i class="wi wi-day-cloudy"></i>';
            }
        }

        function queryWeather(lat1, lng1){
            $('#mySidenav').empty();
            $('#mySidenav').append('<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>');
            $.ajax({
                url: '/Lab/QueryWeather?uLat=' + lat1 + '&uLng=' + lng1,
                method: "GET",
                timeout: 20000, //10 seconds
                success: function (data) {
                    var obj = jQuery.parseJSON(data);
                    var aqi = obj.AQI;
                    $('#mySidenav').append('<a href="#">' + obj.City + obj.Region +   ', 空氣品質AQI:' + aqi.AQI + '(' + aqi.Status + ')</a>' );
                    var wd = obj.WeatherDescription;
                    for (var i = 0, len = wd.length ; i < len  ; i++) {
                        //$('#mySidenav').append('<a href="#">' + wd[i].StartTime + wd[i].Weather + '</a>');
                        var wIcon = '<span>  ' + getIcon(wd[i].Weather)  + '  </span>';
                        var startEndTime = '<span style="font-size:16px;">  ' + wd[i].StartTime + ' - ' + wd[i].EndTime + '  </span>';
                        var temp = '<span>  ' + wd[i].Temp + '  </span>';
                        var uvi = '<span>  <i class="wi wi-hot"></i>' + wd[i].UVI + '</span>';
                        if(uvi.indexOf("()") > -1){
                            uvi = '';
                        }

                        $('#mySidenav').append('<div class="col-sm-6" style="font-size:24px;">' + startEndTime  + wIcon + temp +    '<i class="wi wi-celsius"></i>'   + uvi  + '</div>');
                    }

                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $('#mySidenav').append(textStatus);
                    $('#mySidenav').append(errorThrown);
                }
            });
        }

        updateLocation('AUTO');
</script>